@font-face {
  font-family: 'GEST';
  src: url("Gest-Regular.woff") format("woff"),
       url("Gest-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GARAMONDT";
  src: url("Garamondt-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GARAMONDT";
  src: url("Garamondt-Italic.woff") format("woff");
  font-style: italic;
  font-weight: normal;
}

:root{
  --heading1-size:80px/80.5px;
  --heading2-size:68px/68.5px;
  --labor-size: 40px/43px;
  --heading1: var(--heading1-size) "GEST";
  --heading2: var(--heading2-size)  "GEST";
  --labor: bold var(--labor-size) "GARAMONDT";
  --italic: italic var(--labor-size) "GARAMONDT" ;
  --margin-bottom: 24px;
}

h1, h2, h3, p, ul, ol{
  margin: 0;
  padding: 0;
}

img {
  display: block;

}

hr{
  break-after: always;
  opacity: 0;
}

h1{
  font: var(--heading1);
  margin-bottom: var(--margin-bottom);
}

h2{
  font: var(--heading2);
  margin-bottom: var(--margin-bottom);
}
h3{
  font: 60px "GEST";
  margin-bottom: calc(var(--margin-bottom)/2);
}
p, ul, li, a{
  font: var(--labor);
}
em, i, strong, b{
  font: var(--italic);
}

.imgsWrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: calc((100% - var(--pagedjs-footnotes-height))/4 - 3.75mm) calc((100% - var(--pagedjs-footnotes-height))/4 - 3.75mm) calc((100% - var(--pagedjs-footnotes-height))/4 - 3.75mm) calc((100% - var(--pagedjs-footnotes-height))/4 - 3.75mm);
  grid-gap: 5mm;
}

/*
height : calc(100% - var(--pagedjs-footnotes-height));
*/

.imgsWrap img {

  justify-self: start;
  height: auto;
  width: auto;
  min-width: 50mm;
  max-width: 128mm;
}

.imgsWrap .img-r-1 {
  grid-row: span 1;
  max-height: 60mm;
  max-height: calc(((100% - var(--pagedjs-footnotes-height))) * 1);
}
.imgsWrap .img-r-2 {
  grid-row: span 2;
  max-height: 125mm;
  max-height: calc(((100% - var(--pagedjs-footnotes-height))) * 1);

}
.imgsWrap .img-r-3 {
  grid-row: span 3;
  max-height: 190mm;
  max-height: calc(((100% - var(--pagedjs-footnotes-height))) * 1);

}

/* Ici le style pour l'imprimer */
@media print {
  /* @page gabarits de page */
  @page {
    size: A4;
    margin: 5mm 10mm 10mm 10mm;
    /* marks: crop;
    bleed: 6mm; */
  }

  @page:left {
    margin-right: 20mm;
  }

  @page:right {
    margin-left: 20mm;
    @bottom-right-corner {
      content: counter(page);
      font-family: "GEST";
      font-size: 20px;
      text-align: right;
      margin-right: 5mm;
    }
  }
  @page:first{
    @bottom-right-corner {
      content: none;
    }
  }
  @page:blank {
    background-color: white;
  }

  h1 {
    break-before: always;
  }

  li {
    word-break: break-all;
  }
}
